@font-face {
  font-family: LondrinaSolid-Black;
  src: url("./assets/Londrina_Solid/LondrinaSolid-Black.ttf");
}
@font-face {
  font-family: LondrinaSolid-Light;
  src: url("./assets/Londrina_Solid/LondrinaSolid-Light.ttf");
}
@font-face {
  font-family: LondrinaSolid-Regular;
  src: url("./assets/Londrina_Solid/LondrinaSolid-Regular.ttf");
}
@font-face {
    font-family: LondrinaSolid-thin;
    src: url("./assets/Londrina_Solid/LondrinaSolid-Thin.ttf");
  }
